* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(180deg, #aec1cd, #699288);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    margin: 20px 0;
    color: rgb(16, 39, 97);
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
}

.container {
    background-color: rgb(177, 220, 220);
    padding: 1.5rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 90%;
    max-width: 1200px;
}

.controls {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.controls input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.controls button {
    padding: 10px 16px;
    background: navy;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.product-card {
    background: #fff;
    border-radius: 8px;
    padding: 12px;
    width: 220px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: transform 0.2s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 6px;
}

@media (max-width: 600px) {
    .controls {
        flex-direction: column;
        align-items: stretch;
    }

    .controls input{
        width: 100%;
    }

    .controls button {
        width: 100%;
    }

    .product-card {
        width: 100%;
    }
}